{:title "Sana's Homepage"

 :header {:index {:label "Home"
                  :path "/"
                  :subpages []}

          :sana {:label "Sana"
                     :path "/sana/"
                     :subpages []}

          :blog {:label "Blog"
                 :path "/blog/"
                 :subpages []}

          :spaces {:label "Spaces"
                   :path "/spaces/"
                   :subpages {:spaces/fiction {:label "Fiction"
                                               :path "/spaces/fiction/"}
                              :spaces/webrings {:label "Webrings"
                                                :path "/spaces/webrings/"}
                              :spaces/guestbook {:label "Guestbook"
                                                 :path "/spaces/guestbook/"}
                              :spaces/updates {:label "Updates"
                                               :path "/spaces/updates/"}}}}

 :index {:intro {:body ("Welcome! I'm Sana and you're on my website :) I'm happy to have you here and I hope you'll stay to take a look around. A little more information about me can be found "
                        [:a {:href "/sana/"} "here!"]
                        [:br] [:br]
                        "If you're here about my fiction project, "
                        [:i "In The Shallows"]
                        ": thank you! You can navigate over to "
                        [:a {:href "/spaces/fiction/"} "this page"]
                        " for the main hub. While you're here though, I'd like to clarify a few things. Right now I do not plan on releasing this as a full length, typical chapter book. This will likely only be distributed online, and I do not plan on writing a huge sci-fi epic. What you can expect from me is something more along the lines of a series of short stories that will (usually) follow the same characters. Like an episodic drama written as a webnovel instead of a TV show.")}
  
        :meta {:header "ABOUT THIS WEBSITE"
               :body ("This website is written in Clojure, using Hiccup to render the HTML. There may be a minimal amount of JavaScript used for some visual flair, but I've done my best to make this website completely functional without JS, and hopefully even from text-based browsers."
                      [:br] [:br]
                      "Please tell me if you run into trouble with this website, and I will take your concerns into consideration! I want this website to be as accessible as possible.")}

        :pgp {:header "PGP INFORMATION"
              :body ("My PGP public key (64E2 D72F F5BA 8BEE 12C1 6A3D 5709 6169 F7C8 117C) can be found at "
                     [:a {:target "_blank" :href "/key.asc"} "https://sana.doppel.moe/key.asc"]
                     ". This key is owned solely by me, anybody claiming to be me who cannot produce a valid signature from this key should not be trusted."
                     [:br] [:br]
                     "If you're worried about communication privacy, you can use this key to send me encrypted messages via email. My Matrix account (which can be found on the 'Sana' page) also supports end-to-end encryption and is a safe way to contact me."
                     [:br] [:br] 
                     "Don't know what any of this means? There's more information over at "
                     [:a {:target "_blank" :href "https://www.openpgp.org"} "openpgp.org"]
                     ".")}}

 :about-me {:intro {:body ("Hello! My name is Sana (or Matty). You should refer to me using it/its, but they/them and she/her are also acceptable sparingly. I speak english and toki pona. I live in Rhode Island, USA and love it here. I am not in school, so don't ask.")}
            :hobbies {:header "HOBBIES"
                      :body ("I am an avid writer, both of prose and code. This website was hand-written entirely in Clojure, a modern and functional LISP written for the JVM. I am also actively working on a sci-fi fiction project, more information available elsewhere on this website."
                             [:br] [:br]
                             "I listen to a ton of music, right now some of my favourite bands and artists are: Kikuo, Boards of Canada, TTNG, Karate, Aphex Twin, The Civil War in France, Girlfriends, Calendar Year, That Same Street, American Football, Ween, Bladee, The Anniversary, Crying, Lightning Bolt, LCD Soundsystem, The Sawtooth Grin, Arcade Fire, Gingerbee, Emperor X, Four Tet, Panopticon, and Slime Girls. I listen to many more artists than just these, but these are the ones I could think of right now."
                             [:br] [:br]
                             "I also play a lot of videogames, lately it has mostly been Fractal Block World, Stormworks, and Kerbal Space Program. Add me on Steam if you want, my friend code is 392266209")}
            :contact {:header "CONTACT ME"}}

 :spaces/fiction {:intro {:body ("This is the hub of information regarding all my present and future writing! There's not much here right now, but there will be more soon I hope. Thank you for coming by.")}
                  :shallows {:header "In The Shallows"
                             :body ([:i "In The Shallows"]
                                    " is a collection of works set long after the collapse of the grand Second Federation. Humanity conquered the stars but a fractured culture, strained infrastructure, and terrible tragedy has turned a unified galactic project into a collection of isolated worlds."
                                    [:br] [:br]
                                    "There's nothing to read here yet, but soon I will gradually start rolling out chapters. I have an email list which you can sign up for by getting in contact with me directly, or by leaving a comment in "
                                    [:a {:href "/spaces/guestbook"} "the guestbook"]
                                    " asking to be added. I'll send out emails before chapters are released for beta readings, and I'll send emails when final drafts are published. I promise not to spam you!")}}

 :contacts [{:label "Matrix" :id ([:span {:class "at"}] "sana:doppel.moe")}
            {:label "Email" :id ("sana" [:span {:class "at"}] "doppel.moe")}]
 :gpl-disclaimer "sana.doppel.moe
                  Copywrite (C) 2026 Sana
                  
                  This website is free software, you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
                  
                  The source code of this website, and a copy of the GNU General Public License are available at https://github.com/eightheve/sana-doppel-moe, or upon email request to Sana (sana@doppel.moe)."}
