/*@import url("/sitelen-pona/linja-Eko.css");*/

/* ==================== FONTS ==================== */

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/IBMPlexMono-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/IBMPlexMono-LightItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/IBMPlexMono-Italic.woff2') format('woff2');
}

/* ==================== VARIABLES ==================== */

:root {
  --shade-11: #070707;
  --shade-10: #666666;
  --shade-01: #d9d9d9;
  --shade-00: #f3f3f3;

  --accent-3: #01533c;
  --accent-2: #027c5c;
  --accent-1: #2a8a68;
  /*--accent-1: #4a9f79;
  --accent-0: #7ac498;*/
  --accent-0: #98c7a9;
}

/* ==================== I18N ==================== */

*:lang(en) {
  font-family: "IBM Plex Mono", monospace;
}

/**:lang(tok) {
  font-family: "linja Eko", monospace;
}*/

/* ==================== BASE ==================== */

html {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--shade-00);
  color: var(--shade-11);
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
  padding: 0;
}

#content-root {
  padding-bottom: 64px;
}

/* ==================== TYPOGRAPHY ==================== */

a:visited,
a {
  color: var(--accent-2);
}

a:active,
a:hover {
  color: var(--accent-3);
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* ==================== CLASS UTILS ==================== */

.container {
  width: 100%;
  margin: 0;
}

.container > * {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px
}

.timestamp {
  font-weight: 300;
  font-style: italic;
}

.timestamp::before { content: "  "; }
.guestbook-post h3 { margin-bottom: 0; }
.guestbook-post p { margin-top: 8px; }

.blog-post h2 { margin-bottom: 4px }
.blog-post h4 { margin-top: 4px; margin-bottom: 0 }

/* ================================================= */
/* ==================== HEADER  ==================== */
/* ================================================= */


header {
  width: 100%;
}

header .site-title {
  height: 64px;
  background-color: var(--accent-0);
  color: var(--accent-3);
}

header h1 {
  margin: 0;
  padding-top: 12px;
}
.site-title > section { position: relative; }
.site-title div.hit-counter {
  position: absolute;
  top: 4px;
  right: 0px;
  height: 100px;
  filter: drop-shadow(3px 1px var(--accent-3));
  display: flex;
  gap: 5px;
}
.site-title div.hit-counter > div {
  width: 45px;
  height: 100px;
  background-image: url('/img/counter-sprites.gif');
}

@media screen and (max-width: 620px) {
  .site-title div.hit-counter {
    display: none;
  }
}

.navbar {
  width: 100%;
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
}

.navbar ul {
  display: table;
  width: 100%;
  padding: 0;
}

.navbar a,
.navbar a:visited {
  color: var(--navbar-text);
}
.navbar a:hover,
.navbar a:active {
  text-decoration: none;
  background-color: var(--navbar-hover);
  color: var(--navbar-text);
}

.navbar a.current {
  background-color: var(--navbar-current);
}

.navbar a {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: calc(var(--height)/2 - 10.5px);
  padding-bottom: calc(var(--height)/2 - 10.5px);
  height: var(--height);
  display: block;
  font-weight: normal;
}

.navbar li {
  float: left;
  display: block;
  padding: 0;
  margin: 0;
}

.main-navigation {
  --navbar-bg: var(--accent-2);
  --navbar-text: var(--shade-00);
  --navbar-hover: var(--accent-3);
  --navbar-current: var(--accent-1);
  --height: 3rem;
}

.subpage-navigation {
  --navbar-bg: var(--shade-01);
  --navbar-text: var(--shade-11);
  --navbar-hover: var(--shade-10);
  --navbar-current: var(--shade-00);
  --height: 2.5rem;
}

/* =================================================== */
/* ==================== CONTACTS  ==================== */
/* =================================================== */


table td.label::before {
  content: "";
  position: absolute;
  background-color: var(--shade-10);
  left: 12px;
  right: 4px;
  top: calc(50% - 0px);
  bottom: calc(50% - 1px);
  z-index: -1;
}

table td.label { 
  width: 40%;
  position: relative;
}

table td.label span {
  background-color: var(--shade-00);
  padding-right: 8px;
}

table td.address { width: 60% }

span.at::before {
  content: "[at]";
}

span.at {
  color: var(--accent-2);
}
