@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("/sitelen-pona/linja-Eko.css");

@import url("/css/dropdown.css");
@import url("/css/header.css");

/* ==================== VARIABLES ==================== */

:root {
  --shade-00: #070707;
  --shade-01: #202020;
  --shade-10: #a3a3a3;
  --shade-11: #e3e3e3;

  --accent-0: #01533c;
  --accent-1: #027c5c;
  --accent-2: #4a9f79;
  --accent-3: #7ac498;
}

/* ==================== I18N ==================== */

*:lang(en) {
  font-family: "IBM Plex Mono", monospace;
}

*:lang(tok) {
  font-family: "linja Eko", monospace;
}

/* ==================== BASE ==================== */

html {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--shade-00);
  color: var(--shade-11);
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
  padding: 0;
}

/* ==================== TYPOGRAPHY ==================== */

a:visited,
a {
  color: var(--accent-1);
}

a:active,
a:hover {
  color: var(--accent-2);
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-weight: bold;
}
